<!DOCTYPE html>
<html>
    <head>
        <title>My Blog Site</title>
    </head>
    <body>
        <QuerySet [<Post: My second post>, <Post: My first post>]>
        <header>
            <h1><a href="/">My Blog Site</a></h1>
        </header>

        {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {% endfor %}
    </body>
</html>